{
  "sourceMaps": true,
  "presets": [
    [
      "babel-preset-env",
      {
        "loose": true,
        "useBuiltIns": true,
        "modules": "commonjs"
      }
    ]
  ],
  "ignore": ["dist"],
  "env": {
    "production": {
      "ignore": ["__tests__", "dist"]
    }
  }
}

